
body {
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
    font-size: 100%;
    margin-left: 10px;
}

a:focus,
a:hover {
    font-style: italic;
    color: orangered;
}

header img {
    float: left;
}

.shadow {
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}

main {
    clear: left;
}

#list {
    line-height: 1.5em;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}

html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

body {
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

h3, main nav, .contact {
    margin: 1.5em 2em;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}

h3 {
    margin-top: 3em;
    border: 5px double blue;
}

main nav {
    border: 5px dashed blue;
    padding: 0.5em;
}

.contact {
    border: 5px dotted blue;
    margin-bottom: 0;
}

header img {
    margin-left: 2em;
}



